fastapi
uvicorn
motor  # MongoDB async driver
python-jose[cryptography]  # JWT
passlib[bcrypt]  # Password hashing
python-dotenv  # For environment variables
cloudinary
pydantic
fastapi-socketio
# Optional: for dev
pytest
httpx 